@font-face {
  font-family: "armalite";
  src: url("../fonts/armalite.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.woff") format("woff"),
    url("../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "armalite", serif;
}

li {
  font-family: "BebasNeue", sans-serif;
  letter-spacing: 0.1rem;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 60%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.75;
  z-index: 1;
}

.navbar-brand {
  white-space: normal;
}

.lead {
  font-family: "BebasNeue", sans-serif;
  letter-spacing: 0.1rem;
}

main p {
  font-family: "BebasNeue", sans-serif;
  letter-spacing: 0.05rem;
}

.display-6 {
  line-height: 1.5em;
}

#authors-section h3 {
  font-family: "BebasNeue", sans-serif;
  font-style: italic;
}

#reviews-section h2 {
  text-align: center;
  position: relative;
  margin: 30px 0 60px;
}

#reviews-section h2:after {
  content: '';
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -10px;
}

.carousel {
  padding: 0 70px;
}

.carousel .carousel-item {
  font-size: 2rem;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}

.carousel .carousel-item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

.carousel .testimonial {
  padding: 30px 0 10px;
}

.carousel .overview {
  font-style: italic;
}

.carousel .overview b {
  color: #7aa641;
}

.carousel-control-prev, .carousel-control-next {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}

.carousel-control-prev i, .carousel-control-next i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #fff;
}

.carousel-indicators {
  bottom: -40px;
}

.carousel-indicators li, .carousel-indicators li.active {
  width: 12px;
  height: 12px;
  margin: 1px 3px;
  border-radius: 50%;
  border: none;
}

.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* Media Query for devices withi coarse pointers and no hover functionality */

/* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */

@media (pointer: coarse) and (hover: none) {
  header {
    background: url("https://images.pexels.com/photos/1199967/pexels-photo-1199967.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      black no-repeat center center scroll;
  }

  header video {
    display: none;
  }

  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .card {
    width: 18rem;
  }
  .title {
    font-size: 2rem;
  }
  .copy {
    font-size: 1rem;
  }
  .display-6 {
    font-size: 1.3rem;
  }
}
